.tt-table-dropdown {
  max-width: 300px !important; }
  .tt-table-dropdown li {
    padding: 1em; }
  .tt-table-dropdown input {
    display: inline-block;
    margin-right: 0.5em; }
  .tt-table-dropdown label {
    display: inline-block; }
