html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,th,td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,blockquote {
  quotes: none;
}

q:before,q:after,blockquote:before,blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
  display: block;
}

html,body {
  height: 100%;
}

body {
  overflow: hidden;
  background: #333!important;
  position: relative;
  font: 14px/1 "Lucida Console","Lucida Sans Typewriter",Monaco,"Bitstream Vera Sans Mono",monospace;
  color: #FFF;
  text-shadow: 0 -1px 0 #000;
}

a {
  color: white;
}

#wrapper {
  -webkit-transition: height 240ms ease,width 240ms ease,margin 240ms ease;
  -moz-transition: height 240ms ease,width 240ms ease,margin 240ms ease;
  -ms-transition: height 240ms ease,width 240ms ease,margin 240ms ease;
  -o-transition: height 240ms ease,width 240ms ease,margin 240ms ease;
  transition: height 240ms ease,width 240ms ease,margin 240ms ease;
  -webkit-box-shadow: 0 0 12px 1px #000;
  -moz-box-shadow: 0 0 12px 1px #000;
  box-shadow: 0 0 12px 1px #000;
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

#wrapper iframe::-webkit-scrollbar {
  display: none;
}

#wrapper iframe::-moz-scrollbar {
  display: none;
}

#wrapper iframe {
  width: 100%;
  height: 100%;
}

#wrapper.noTransitions {
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  -o-transition: 0;
  transition: 0;
}

#wrapper .keyboard-bg {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -1px;
  pointer-events: none;
}

#wrapper[data-device="smartphonePortrait"].keyboard,#wrapper[data-device="smartphoneLandscape"].keyboard,#wrapper[data-device="tabletLandscape"].keyboard,#wrapper[data-device="tabletPortrait"].keyboard {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
}

#wrapper[data-device="smartphonePortrait"].keyboard .keyboard-bg,#wrapper[data-device="smartphoneLandscape"].keyboard .keyboard-bg,#wrapper[data-device="tabletLandscape"].keyboard .keyboard-bg,#wrapper[data-device="tabletPortrait"].keyboard .keyboard-bg {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

#wrapper[data-device="smartphonePortrait"].keyboard {
  padding-bottom: 260px;
}
#wrapper[data-device="smartphoneLandscape"].keyboard{padding-bottom:194px}
#wrapper[data-device="tabletLandscape"].keyboard{padding-bottom:307px}
body>header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(52,52,52,0.75)), color-stop(100%, rgba(36,36,36,0.75)));
  background: -webkit-linear-gradient(rgba(52,52,52,0.75),rgba(36,36,36,0.75));
  background: -moz-linear-gradient(rgba(52,52,52,0.75),rgba(36,36,36,0.75));
  background: -o-linear-gradient(rgba(52,52,52,0.75),rgba(36,36,36,0.75));
  background: -ms-linear-gradient(rgba(52,52,52,0.75),rgba(36,36,36,0.75));
  background: linear-gradient(rgba(52,52,52,0.75),rgba(36,36,36,0.75));
  -webkit-box-shadow: inset 0 1px 0 #5f6164,inset 0 -1px 0 #2e2f2f,0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 0 #5f6164,inset 0 -1px 0 #2e2f2f,0 1px 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 0 #5f6164,inset 0 -1px 0 #2e2f2f,0 1px 3px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 51px;
  z-index: 100;
}

body>section {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: scroll;
}

#size {
  -webkit-transition: padding 240ms ease;
  -moz-transition: padding 240ms ease;
  -ms-transition: padding 240ms ease;
  -o-transition: padding 240ms ease;
  transition: padding 240ms ease;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #202021), color-stop(100%, #222223));
  background-image: -webkit-linear-gradient(#202021,#222223);
  background-image: -moz-linear-gradient(#202021,#222223);
  background-image: -o-linear-gradient(#202021,#222223);
  background-image: -ms-linear-gradient(#202021,#222223);
  background-image: linear-gradient(#202021,#222223);
  -webkit-box-shadow: 0 1px 0 #363738;
  -moz-box-shadow: 0 1px 0 #363738;
  box-shadow: 0 1px 0 #363738;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  color: #EEE;
  border: 1px solid #040404;
  xtext-transform: uppercase;
  text-align: center;
  padding: 9px 12px 7px;
  margin: 9px 0 0 8px;
  min-width: 80px;
  display: block;
  float: left;
  font-size: 14px;
  height:32px;
}

@media screen and (max-width: 480px) {
  #size {
    padding-left: 6px;
    padding-right: 6px;
  };
}

header .keyboard,.cssrefresh,.close {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #EEE;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  border: 1px solid #363738;
}

header .keyboard a,.cssrefresh a,.close a {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343434), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#343434,#242424);
  background: -moz-linear-gradient(#343434,#242424);
  background: -o-linear-gradient(#343434,#242424);
  background: -ms-linear-gradient(#343434,#242424);
  background: linear-gradient(#343434,#242424);
  -webkit-box-shadow: inset 0 1px 0 #3c3c3c;
  -moz-box-shadow: inset 0 1px 0 #3c3c3c;
  box-shadow: inset 0 1px 0 #3c3c3c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #040404;
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  outline: none;
  line-height: 30px;
  xtext-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

header .keyboard a:hover,.cssrefresh a:hover,.close a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #313131), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#313131,#242424);
  background: -moz-linear-gradient(#313131,#242424);
  background: -o-linear-gradient(#313131,#242424);
  background: -ms-linear-gradient(#313131,#242424);
  background: linear-gradient(#313131,#242424);
}

header .keyboard a.active,header .keyboard a:active,.cssrefresh a.active,.cssrefresh a:active,.close a.active,.close a:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c1c1c), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#1c1c1c,#242424);
  background: -moz-linear-gradient(#1c1c1c,#242424);
  background: -o-linear-gradient(#1c1c1c,#242424);
  background: -ms-linear-gradient(#1c1c1c,#242424);
  background: linear-gradient(#1c1c1c,#242424);
  -webkit-box-shadow: inset 0 1px 0 #242424;
  -moz-box-shadow: inset 0 1px 0 #242424;
  box-shadow: inset 0 1px 0 #242424;
  outline: none;
}

header .keyboard a.active span,header .keyboard a:active span,.cssrefresh a.active span,.cssrefresh a:active span,.close a.active span,.close a:active span {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .close {
    display: none;
  };
}

header .keyboard,header .cssrefresh {
  right: auto;
  position: relative;
  top: auto;
  float: left;
  margin: 8px 0 0 8px;
}

header .keyboard a,header .cssrefresh a {
  text-indent: -9999px;
}
#devices {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 50%;
  margin-left: -104px;
  border: 1px solid #363738;
}

#devices a:first-of-type {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

#devices a:last-of-type {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-right-width: 1px;
  width:80px;
}

#devices a {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #313131), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#313131,#242424);
  background: -moz-linear-gradient(#313131,#242424);
  background: -o-linear-gradient(#313131,#242424);
  background: -ms-linear-gradient(#313131,#242424);
  background: linear-gradient(#313131,#242424);
  -webkit-box-shadow: inset 0 1px 0 #3c3c3c;
  -moz-box-shadow: inset 0 1px 0 #3c3c3c;
  box-shadow: inset 0 1px 0 #3c3c3c;
  text-decoration: none;
  border: 1px solid #040404;
  border-right-width: 0;
  float: left;
  display: block;
  width: 40px;
  height: 30px;
  outline: none;
}

#devices a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2c2c2c), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#2c2c2c,#242424);
  background: -moz-linear-gradient(#2c2c2c,#242424);
  background: -o-linear-gradient(#2c2c2c,#242424);
  background: -ms-linear-gradient(#2c2c2c,#242424);
  background: linear-gradient(#2c2c2c,#242424);
}

#devices a.active,#devices a:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c1c1c), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#1c1c1c,#242424);
  background: -moz-linear-gradient(#1c1c1c,#242424);
  background: -o-linear-gradient(#1c1c1c,#242424);
  background: -ms-linear-gradient(#1c1c1c,#242424);
  background: linear-gradient(#1c1c1c,#242424);
  -webkit-box-shadow: inset 0 1px 0 #242424;
  -moz-box-shadow: inset 0 1px 0 #242424;
  box-shadow: inset 0 1px 0 #242424;
  outline: none;
}

#devices a.active span,#devices a:active span {
  opacity: 1;
}

#devices span {
  text-align: center;
  display: block;
  width: 40px;
  height: 30px;
  text-indent: -9999px;
  opacity: .75;
}

#devices .tablet-landscape span,#devices .smartphone-landscape span {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#devices .auto span {
  text-indent: 0;
  line-height: 30px;
  xtext-transform: uppercase;
  font-size: 14px;
  margin: 0 auto;
  width:80px;
}

@media screen and (max-width: 600px) {
  #devices {
    margin-left: -54px;
  };
}

@media screen and (max-width: 520px) {
  #devices {
    margin-left: -25px;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
  };
}

@media screen and (max-width: 480px) {
  #devices {
    right: 8px;
    margin: 0;
    left: auto;
  };
}

/*  Try to separate out Joyride CSS*/

/* Foundation Joyride */
.joyride-list {
  display: none; }

/* Default styles for the container */
.joyride-tip-guide {
  display: none;
  position: absolute;
  background: #DEDEDE!important;
  color: #333!important;
  z-index: 101;
  top: 60px!important;
  left: 2.5%;
  font-family: inherit;
  text-shadow:none!important;
  box-shadow:0 0 4px #666;
  font-weight: normal;
  width: 95%; }

.lt-ie9 .joyride-tip-guide {
  max-width: 800px;
  left: 50%;
  margin-left: -400px; }

.joyride-content-wrapper {
  width: 100%;
  padding: 1.125em 1.25em 1.5em; }
  .joyride-content-wrapper .button {
    margin-bottom: 0 !important; }

/* Add a little css triangle pip, older browser just miss out on the fanciness of it */
.joyride-tip-guide .joyride-nub {
  display: block;
  position: absolute;
  left: 22px;
  width: 0;
  height: 0;
  border: solid 14px; }
  .joyride-tip-guide .joyride-nub.top {
    border-color: #DEDEDE!important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    top: -28px;
    bottom: none; }
  .joyride-tip-guide .joyride-nub.bottom {
    border-color: black !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    bottom: -28px;
    bottom: none; }
  .joyride-tip-guide .joyride-nub.right {
    right: -28px; }
  .joyride-tip-guide .joyride-nub.left {
    left: -28px; }

/* Typography */
.joyride-tip-guide h1,
.joyride-tip-guide h2,
.joyride-tip-guide h3,
.joyride-tip-guide h4,
.joyride-tip-guide h5,
.joyride-tip-guide h6 {
  line-height: 1.25;
  margin: 0;
  font-weight: bold;
  color: #333!important; }

.joyride-tip-guide p {
  margin: 0 0 1.125em 0;
  font-size: 0.875em;
  line-height: 1.3; }

.joyride-timer-indicator-wrap {
  width: 50px;
  height: 3px;
  border: solid 1px #555555;
  position: absolute;
  right: 1.0625em;
  bottom: 1em; }

.joyride-timer-indicator {
  display: block;
  width: 0;
  height: inherit;
  background: #666666; }

.joyride-close-tip {
  position: absolute;
  right: 12px;
  top: 10px;
  color: #777777 !important;
  text-decoration: none;
  font-size: 30px;
  font-weight: normal;
  line-height: 0.5 !important; }
  body .joyride-close-tip:hover, .joyride-close-tip:focus {
    color: #000 !important; }

.joyride-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: transparent;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
  cursor: pointer; }

/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 48em) {
  .joyride-tip-guide {
    width: 300px;
    left: 0; }
    .joyride-tip-guide .joyride-nub.bottom {
      border-color: black !important;
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      bottom: -28px;
      bottom: none; }
    .joyride-tip-guide .joyride-nub.right {
      border-color: black !important;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      top: 22px;
      bottom: none;
      left: auto;
      right: -28px; }
    .joyride-tip-guide .joyride-nub.left {
      border-color: black !important;
      border-top-color: transparent !important;
      border-left-color: transparent !important;
      border-bottom-color: transparent !important;
      top: 22px;
      left: -28px;
      right: auto;
      bottom: none; } }
.joyride-tip-guide:first-child + .joyride-tip-guide .joyride-next-tip{
	display:none;
}