@import "foundation/foundation-global";
@import "bootstrap/forms";
@import "bootstrap/tables";
@import "bootstrap/buttons";
@import "fonts";

$font-sans-fallback: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$font-sans: "SourceSansPro", $font-sans-fallback;
$font-sans-bold: "SourceSansProBold", $font-sans-fallback;
$font-sans-italic: "SourceSansProItalic", $font-sans-fallback;
$font-sans-bold-italic: "SourceSansProBoldItalic", $font-sans-fallback;
$font-serif: "Merriweather", Georgia, serif;

// Foundation Overrides

body {
  font-family: $font-sans;
}

select,
textarea,
button,
input, // Need to list all of these types to override Foundation's specificity
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-family: $font-sans;
}

button,
.button {
  font-family: $font-sans;
  font-weight: normal !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-serif;
  font-weight: normal;
}

p {
  font-family: $font-sans;
}

ul, ol, dl {
  font-family: $font-sans;
}

table {

  thead,
  tfoot {
    tr {
      th {
        font-family: $font-sans-bold;
        font-weight: normal;
      }
    }
  }

  tr {
    th {
      font-family: $font-sans-bold;
      font-weight: normal;
    }
  }
}

em,
i,
.italic {
  font-family: $font-sans-italic;
  font-style: normal;
}

strong,
b,
.bold {
  font-family: $font-sans-bold;
  font-weight: normal;
}

strong em,
em strong {
  font-family: $font-sans-bold-italic;
  font-style: normal;
  font-weight: normal;
}

legend {
  font-family: $font-sans-bold;
  font-weight: normal;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

ul.f-dropdown li {
  padding: 0;
}

.button small {
  font-size: 75%;
}

.button.large {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

// Generic Classes

.no-wrap {
  white-space: nowrap;
}

.list-bullets-inside {
  list-style-position: inside;
}

.list-bullets-none {
  list-style: none outside none;
}

.padding-sides-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Responsive tables

.rt-table-dropdown {
  max-width: 300px !important;

  input {
    display: inline-block;
    margin-right: 0.5em;
  }
  label {
    display: block;
    padding: 1em;
  }
}

.rt-table-menu > a.button {
  padding-bottom: 0.9375em;
  padding-top: 1.125em; }

/* Lightbox */

.lbox-no-list {
  list-style-type: none;
  display:block;
}

.lbox-no-list li {
  float:left;
  padding-right:5px;
  display: list-item;
  text-align: -webkit-match-parent;
}
#resize-bar-body{
  background: #333!important;
}

#devices a{
  color:#FFF;
}
#wrapper {
  -webkit-transition: height 240ms ease,width 240ms ease,margin 240ms ease;
  -moz-transition: height 240ms ease,width 240ms ease,margin 240ms ease;
  -ms-transition: height 240ms ease,width 240ms ease,margin 240ms ease;
  -o-transition: height 240ms ease,width 240ms ease,margin 240ms ease;
  transition: height 240ms ease,width 240ms ease,margin 240ms ease;
  -webkit-box-shadow: 0 0 12px 1px #000;
  -moz-box-shadow: 0 0 12px 1px #000;
  box-shadow: 0 0 12px 1px #000;
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

#wrapper iframe::-webkit-scrollbar {
  display: none;
}

#wrapper iframe::-moz-scrollbar {
  display: none;
}

#wrapper iframe {
  width: 100%;
  height: 100%;
}

#wrapper.noTransitions {
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  -o-transition: 0;
  transition: 0;
}

#wrapper .keyboard-bg {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -1px;
  pointer-events: none;
}

#wrapper[data-device="smartphonePortrait"].keyboard,#wrapper[data-device="smartphoneLandscape"].keyboard,#wrapper[data-device="tabletLandscape"].keyboard,#wrapper[data-device="tabletPortrait"].keyboard {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
}

#wrapper[data-device="smartphonePortrait"].keyboard .keyboard-bg,#wrapper[data-device="smartphoneLandscape"].keyboard .keyboard-bg,#wrapper[data-device="tabletLandscape"].keyboard .keyboard-bg,#wrapper[data-device="tabletPortrait"].keyboard .keyboard-bg {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

#wrapper[data-device="smartphonePortrait"].keyboard {
  padding-bottom: 260px;
}
#wrapper[data-device="smartphoneLandscape"].keyboard{padding-bottom:194px}
#wrapper[data-device="tabletLandscape"].keyboard{padding-bottom:307px}
body>header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(52,52,52,0.75)), color-stop(100%, rgba(36,36,36,0.75)));
  background: -webkit-linear-gradient(rgba(52,52,52,0.75),rgba(36,36,36,0.75));
  background: -moz-linear-gradient(rgba(52,52,52,0.75),rgba(36,36,36,0.75));
  background: -o-linear-gradient(rgba(52,52,52,0.75),rgba(36,36,36,0.75));
  background: -ms-linear-gradient(rgba(52,52,52,0.75),rgba(36,36,36,0.75));
  background: linear-gradient(rgba(52,52,52,0.75),rgba(36,36,36,0.75));
  -webkit-box-shadow: inset 0 1px 0 #5f6164,inset 0 -1px 0 #2e2f2f,0 1px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 0 #5f6164,inset 0 -1px 0 #2e2f2f,0 1px 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 0 #5f6164,inset 0 -1px 0 #2e2f2f,0 1px 3px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 51px;
  z-index: 100;
}

body>section {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: scroll;
}

#size {
  -webkit-transition: padding 240ms ease;
  -moz-transition: padding 240ms ease;
  -ms-transition: padding 240ms ease;
  -o-transition: padding 240ms ease;
  transition: padding 240ms ease;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #202021), color-stop(100%, #222223));
  background-image: -webkit-linear-gradient(#202021,#222223);
  background-image: -moz-linear-gradient(#202021,#222223);
  background-image: -o-linear-gradient(#202021,#222223);
  background-image: -ms-linear-gradient(#202021,#222223);
  background-image: linear-gradient(#202021,#222223);
  -webkit-box-shadow: 0 1px 0 #363738;
  -moz-box-shadow: 0 1px 0 #363738;
  box-shadow: 0 1px 0 #363738;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  color: #EEE;
  border: 1px solid #040404;
  xtext-transform: uppercase;
  text-align: center;
  padding: 9px 12px 7px;
  margin: 9px 0 0 8px;
  min-width: 80px;
  display: block;
  float: left;
  font-size: 14px;
  height:32px;
}

@media screen and (max-width: 480px) {
  #size {
    padding-left: 6px;
    padding-right: 6px;
  };
}

header .keyboard,.cssrefresh,.close {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #EEE;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  border: 1px solid #363738;
}

header .keyboard a,.cssrefresh a,.close a {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343434), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#343434,#242424);
  background: -moz-linear-gradient(#343434,#242424);
  background: -o-linear-gradient(#343434,#242424);
  background: -ms-linear-gradient(#343434,#242424);
  background: linear-gradient(#343434,#242424);
  -webkit-box-shadow: inset 0 1px 0 #3c3c3c;
  -moz-box-shadow: inset 0 1px 0 #3c3c3c;
  box-shadow: inset 0 1px 0 #3c3c3c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #040404;
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  outline: none;
  line-height: 30px;
  xtext-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

header .keyboard a:hover,.cssrefresh a:hover,.close a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #313131), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#313131,#242424);
  background: -moz-linear-gradient(#313131,#242424);
  background: -o-linear-gradient(#313131,#242424);
  background: -ms-linear-gradient(#313131,#242424);
  background: linear-gradient(#313131,#242424);
}

header .keyboard a.active,header .keyboard a:active,.cssrefresh a.active,.cssrefresh a:active,.close a.active,.close a:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c1c1c), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#1c1c1c,#242424);
  background: -moz-linear-gradient(#1c1c1c,#242424);
  background: -o-linear-gradient(#1c1c1c,#242424);
  background: -ms-linear-gradient(#1c1c1c,#242424);
  background: linear-gradient(#1c1c1c,#242424);
  -webkit-box-shadow: inset 0 1px 0 #242424;
  -moz-box-shadow: inset 0 1px 0 #242424;
  box-shadow: inset 0 1px 0 #242424;
  outline: none;
}

header .keyboard a.active span,header .keyboard a:active span,.cssrefresh a.active span,.cssrefresh a:active span,.close a.active span,.close a:active span {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .close {
    display: none;
  };
}

header .keyboard,header .cssrefresh {
  right: auto;
  position: relative;
  top: auto;
  float: left;
  margin: 8px 0 0 8px;
}

header .keyboard a,header .cssrefresh a {
  text-indent: -9999px;
}
#devices {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 50%;
  margin-left: -104px;
  border: 1px solid #363738;
}

#devices a:first-of-type {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

#devices a:last-of-type {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-right-width: 1px;
  width:80px;
}

#devices a {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #313131), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#313131,#242424);
  background: -moz-linear-gradient(#313131,#242424);
  background: -o-linear-gradient(#313131,#242424);
  background: -ms-linear-gradient(#313131,#242424);
  background: linear-gradient(#313131,#242424);
  -webkit-box-shadow: inset 0 1px 0 #3c3c3c;
  -moz-box-shadow: inset 0 1px 0 #3c3c3c;
  box-shadow: inset 0 1px 0 #3c3c3c;
  text-decoration: none;
  border: 1px solid #040404;
  border-right-width: 0;
  float: left;
  display: block;
  width: 40px;
  height: 30px;
  outline: none;
}

#devices a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2c2c2c), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#2c2c2c,#242424);
  background: -moz-linear-gradient(#2c2c2c,#242424);
  background: -o-linear-gradient(#2c2c2c,#242424);
  background: -ms-linear-gradient(#2c2c2c,#242424);
  background: linear-gradient(#2c2c2c,#242424);
}

#devices a.active,#devices a:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c1c1c), color-stop(100%, #242424));
  background: -webkit-linear-gradient(#1c1c1c,#242424);
  background: -moz-linear-gradient(#1c1c1c,#242424);
  background: -o-linear-gradient(#1c1c1c,#242424);
  background: -ms-linear-gradient(#1c1c1c,#242424);
  background: linear-gradient(#1c1c1c,#242424);
  -webkit-box-shadow: inset 0 1px 0 #242424;
  -moz-box-shadow: inset 0 1px 0 #242424;
  box-shadow: inset 0 1px 0 #242424;
  outline: none;
}

#devices a.active span,#devices a:active span {
  opacity: 1;
}

#devices span {
  text-align: center;
  display: block;
  width: 40px;
  height: 30px;
  text-indent: -9999px;
  opacity: .75;
}

#devices .tablet-landscape span,#devices .smartphone-landscape span {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#devices .auto span {
  text-indent: 0;
  line-height: 30px;
  xtext-transform: uppercase;
  font-size: 14px;
  margin: 0 auto;
  width:80px;
}

@media screen and (max-width: 600px) {
  #devices {
    margin-left: -54px;
  };
}

@media screen and (max-width: 520px) {
  #devices {
    margin-left: -25px;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
  };
}

@media screen and (max-width: 480px) {
  #devices {
    right: 8px;
    margin: 0;
    left: auto;
  };
}

/*  Try to separate out Joyride CSS*/

.joyride-tip-guide {
  background: #DEDEDE!important;
  color: #333!important;
  top: 60px!important;
  text-shadow:none!important;
  box-shadow:0 0 4px #666;
  }

  .joyride-tip-guide .joyride-nub.top {
    border-color: #DEDEDE!important;
   }

/* Typography */
.joyride-tip-guide h1,
.joyride-tip-guide h2,
.joyride-tip-guide h3,
.joyride-tip-guide h4,
.joyride-tip-guide h5,
.joyride-tip-guide h6 {
  color: #333!important; }

  body .joyride-close-tip:hover, .joyride-close-tip:focus {
    color: #000 !important; }

#devices .tablet-portrait span,#devices .tablet-landscape span {
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAQAAAAqnqXBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALdJREFUKM/VkjEKwkAQRd/EVQKClYgIgmKnjWXu4C3sPIClrZXHsRQEPYG1qKCNINaCyexaBGIKN2jpdH/+4/8pRuyIBS184zgwkeREB8V5oICAjbF1Eom4eoKGLGkatSDn8PYZejQANQpQ8Z2kZQCTUDSp+x2khVDqmrgQin+o+1tIAe8PoO6dZL1JFsBYoeRW22e2v1OmliVVBQJjL/QZ5PrGdJm9pYOjrCM3p5dr2BPSzumdTF90y0NcVdvNJQAAAABJRU5ErkJggg==') 50% 50% no-repeat;
}

#devices .smartphone-portrait span,#devices .smartphone-landscape span {
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAQAAACFdibLAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUGFeVjDEKwkAUBefHhUAQG8HGwguIR7Czs/Munkq8hunTWohoIWlUBBf3r99CA64g6CuHeSP3hU05sZeSq83oY1JJOFJRc2ZLYEhHMpvgd35AMr9xCsU7uuQqTlMNBVz4gAH4w/wdfmvGxIzgFGuXBSCAwS3PRFaH5oMQAKHntEUXgCVr5s+Ei/aKjRk13QeKojmLEk117AAAAABJRU5ErkJggg==') 50% 50% no-repeat;
}
