@import "foundation/foundation-global";

.toggle-table-dropdown {
  li {
    padding: 1em;
  }
  input {
    display: inline-block;
    margin-right: 0.5em;
  }
  label {
    display: inline-block;
  }
}

// .js th,
// .js td {
//    display: none;
// }

// .lt-ie9.js th.essential,
// .lt-ie9.js td.essential {
//   display: inline;
// }

// .js th.essential,
// .js td.essential {
//    display: table-cell;
// }

// @media #{$small} {
//   .lt-ie9.js th.optional,
//   .lt-ie9.js td.optional {
//     display: inline;
//   }
//   .js th.optional,
//   .js td.optional {
//     display: table-cell;
//   }
// }

// @media #{$medium} {
//    .lt-ie9.js th,
//    .lt-ie9.js td {
//       display: inline;
//    }
//    .js th,
//    .js td {
//       display: table-cell;
//    }
// }
