@import "foundation/foundation-global";

.toggle-table-dropdown {
  li {
    padding: 1em;
  }
  input {
    display: inline-block;
    margin-right: 0.5em;
  }
  label {
    display: inline-block;
  }
}
