@mixin bold() {
  font-family: $font-sans-bold;
  font-weight: normal;
}

@mixin italic() {
  font-family: $font-sans-italic;
  font-style: normal;
}

@mixin bold-italic() {
  font-family: $font-sans-bold-italic;
  font-weight: normal;
  font-style: normal;
}


@mixin font-serif() {
  font-family: $font-serif;
  font-weight: normal !important;
  font-style: normal !important;
}
