@import "../../scss/foundation/foundation-global";
@import "../../scss/excelsior/mixins";

/* Tap Targets */

.touch .link-buttons-list a {
  padding: 4px;
  @include button();
  display: block;
  margin-bottom: 0.25em;
  padding-top: emCalc(8px);
  padding-bottom: emCalc(8px);
}

.switch-label {
  float: left;
  margin-top: 0.4em;
  margin-right: 1em;
}

.switch.radius {
  float: left;
  width: auto;
}

.switch.radius > span {
  box-shadow: 2px 0 10px 0 rgba(0,0,0,0.07), 1000px 0 0 1000px #BAC9F7, -2px 0 10px 0 rgba(0,0,0,0.07), -1000px 0 0 1000px #f5f5f5
}

/* Playground */

#in {
  border: 1px solid #444;
  background-color: #f4f4f4;
  padding: 10px;
}
ul {
  list-style-position: inside;
}
.error {
  color: maroon;
  font-style: italic;
}
