@media only screen {

	.off-canvas .gov-bar {
		position: absolute;
		width: 100%;
		z-index: 600;
	}

	.off-canvas .gov-bar form  {
		margin: 0;
	}

	.off-canvas .site-bar {
		position: absolute;
		width: 100%;
		z-index: 500;

		-webkit-transition: top 0.2s ease-in; /* Safari and Chrome */
		transition: top 0.2s ease-in;
	}

	.off-canvas .global-nav {
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 100;
	}

	.off-canvas .global-nav .nav-container {
		height: inherit;
		overflow-y: scroll;
	}

	.off-canvas .global-nav ul {
		margin-left: 16%;
	}

	.off-canvas .page {
		position: fixed;
		min-height: 100%;
		top: 48px;
		width: 100%;
		z-index: 300;
	}

	.off-canvas .gov-bar,
	.off-canvas .site-bar,
	.off-canvas .page {
		transition: left 0.2s ease-in;
		-moz-transition: left 0.2s ease-in; /* Firefox 4 */
		-webkit-transition: left 0.2s ease-in; /* Safari and Chrome */
		-o-transition: left 0.2s ease-in; /* Opera */
	}

	.off-canvas.active-gov-bar .site-bar {
		top: 96px;
	}

	.off-canvas.active-site-menu .gov-bar,
	.off-canvas.active-site-menu .site-bar,
	.off-canvas.active-site-menu .page {
		position: fixed;
		left: -85%;
		-webkit-transition: left 0.2s ease-in; /* Safari and Chrome */
		transition: left 0.2s ease-in;
	}


}

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 48em) {

	.off-canvas .gov-bar,
	.off-canvas .site-bar,
	.off-canvas .global-nav,
	.off-canvas .page {
		position: relative;
	}

	.off-canvas.active-site-menu .gov-bar,
	.off-canvas.active-site-menu .site-bar,
	.off-canvas.active-site-menu .global-nav,
	.off-canvas.active-site-menu .page {
		left: auto;
		position: relative;
	}

	.off-canvas .global-nav {
		height: 48px;
	}

	.off-canvas .global-nav .nav-container,
	.off-canvas.active-site-menu .global-nav .nav-container {
		overflow: hidden;
	}

	.off-canvas .global-nav ul, 
	.off-canvas.active-site-menu .global-nav ul {
		margin-left: 0;
	}

	.off-canvas .page {
		top: 0;
	}

}

/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 80em) {

}

/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 90em) {

}}
