label {
  display: inline-block;
  position: relative; }

.required:after {
  content: "*";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  color: #c60f13; }

.form-field-info {
  display: none;
  margin-top: -10px; }

.show .form-field-info {
  display: block; }

.form-field-info p {
  font-family: inherit; }

.form-field-info p:last-child {
  margin-bottom: 10px; }

.margin-top-xlarge {
  margin-top: 2em; }

.immediate-assistance {
  margin-top: 25px; }
