.gov-bar{
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

@media only screen and (min-width: 48em) {
  .margin-top-large {
    margin-top:1em;
  }
  .site-bar{
    background: -webkit-linear-gradient(#CCCCCC, #FFFFFF);
    background:         linear-gradient(#CCCCCC, #FFFFFF);
  }
  .site-bar a.site-logo{
    color: #036;
  }
  .global-nav .nav-container,
  .global-nav ul li a{
    background: -webkit-linear-gradient(#85A2BE, #5082B3);
    background:         linear-gradient(#85A2BE, #5082B3);
    -webkit-font-smoothing: subpixel-antialiased;
    text-shadow: 0 -1px 1px #666;
  }
  .global-nav ul li {
    border-right: 1px solid #4E749A;
    border-bottom: 1px solid #4E749A;
  }
  .site-wrap {
    overflow:hidden;
    background: transparent url(../images/ny-header-dark-bl.png) left 3px no-repeat!important;
    text-shadow:1px 1px 2px #AAA;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .site-wrap {
      background-image: url(../images/ny-header-dark-bl@2x.png) !important;
    }
  }

  .site-bar a.site-logo {
    margin: 0 0 0 2.25em;
  }
}
