
/* Need to change foundation.section.js at position_titles() function
   to only apply left position to tabs, i.e.:
   if (!$this.closest('.accordion').length || ($this.closest('.auto').length && window.matchMedia('screen and (max-width: 768px)'))) {
*/

@font-face {
  font-family: 'fontello';
  src: url("../POC/font/fontello.eot?17048788");
  src: url("../POC/font/fontello.eot?17048788#iefix") format('embedded-opentype'), url("../POC/font/fontello.woff?17048788") format('woff'), url("../POC/font/fontello.ttf?17048788") format('truetype'), url("../POC/font/fontello.svg?17048788#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

.title a {
  text-overflow: ellipsis;
  overflow: hidden;
}

.auto section.auto > .title,
.auto section.section > .title,
.accordion section.auto > .title,
.accordion section.section > .title {
  position: relative;
  padding-right: 26px; /* width of chevron plus its right position offset */
}

.accordion section.auto .title:after,
.accordion section.section .title:after {
  content: "\e75e";
  position: absolute;
  top: 6px;
  right: 10px;
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion section.auto.active .title:after,
.accordion section.section.active .title:after {
  top: 8px;
  right: 10px;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

/* Same styles as above */
@media screen and (max-width: 768px) {
  .auto section.auto .title:after,
  .auto section.section .title:after {
    content: "\e75e";
    position: absolute;
    top: 8px;
    right: 10px;
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .auto section.auto.active .title:after,
  .auto section.section.active .title:after {
    top: 6px;
    right: 10px;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
