.accordion section.auto.active p a:after,
.accordion section.section.active p a:after {
  content: '∧';
  /*content: '\e75e';*/
  float: right;
  font-size: 1.2em;
  line-height: inherit;
  margin-top: -.10em;
}

.accordion section.auto p a:after,
.accordion section.section p a:after {
  content: '∨';
  /*content: '\e75e';*/
  float: right;
  font-size: 1.2em;
  line-height: inherit;
  margin-top: -.10em;
}

/* Same styles as above */
@media screen and (max-width: 768px) {
  .auto section.auto.active p a:after,
  .auto section.section.active p a:after {
    content: '∧';
    /*content: '\e75e';*/
    float: right;
    font-size: 1.2em;
    line-height: inherit;
    margin-top: -.10em;
  }

  .auto section.auto p a:after,
  .auto section.section p a:after {
    content: '∨';
    /*content: '\e75e';*/
    float: right;
    font-size: 1.2em;
    line-height: inherit;
    margin-top: -.10em;
  }
}
