// Generic Classes

.no-wrap {
  white-space: nowrap;
}

.bulleted-list {
  list-style-position: outside;
  margin-left: 1em;
}

.padding-sides-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.radius {
  @include radius(4px);
}

.chromeframe {
  margin: 1em 0 0.5em 0;
  text-align: center;
  font-size: 110%;
  line-height: 120%;
}

// Visiblity

// Touch-enabled device targeting
.show-for-no-touch { display: none !important; }
.hide-for-no-touch { display: inherit !important; }
.no-touch .show-for-no-touch { display: inherit !important; }
.no-touch .hide-for-no-touch { display: none !important; }

// IE classes

.hide-for-lt-ie9 {
  display: none !important;
}

.lt-ie9 .show-for-lt-ie9 {
  display: inherit !important;
}

.hide-for-ie9 {
  display: none !important;
}

.ie9 .show-for-ie9 {
  display: inherit !important;
}

.hide-for-oldie {
  display: inherit !important;
}

.oldie .hide-for-oldie {
  display: none !important;
}
