/* Image to lists */
@media only screen {
	.image-to-list a {
		color: #FFF;
		display: block;
		text-decoration: none;
	}

	.image-to-list a span {
		background: rgba(0, 0, 0, 0.7);
		display: block;
		padding: 7px;
		position: relative;
		margin-top:	-46px;
	}
}

@media only screen and (max-width: 24em) {

	.image-to-list li {
		float: none;
	}

	.image-to-list a {
		color: #2ba6cb;
		text-decoration: underline;
	}

	.image-to-list a img {
		display: none;
		speak: none;
	}

	.image-to-list a span {
		background: none;
		margin-top: 0;
	}

}