/* line 1, ../../scss/excelsior/demo-bar.scss */
#resize-bar-body {
  background: #333333 !important;
}

/* line 5, ../../scss/excelsior/demo-bar.scss */
#devices a {
  color: #FFF;
}

/* line 8, ../../scss/excelsior/demo-bar.scss */
#wrapper {
  -webkit-transition: height 1250ms ease,width 1250ms ease,margin 1250ms ease;
  transition: height 1250ms ease,width 1250ms ease,margin 1250ms ease;
  box-shadow: 0 0 12px 1px #000;
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

/* line 21, ../../scss/excelsior/demo-bar.scss */
#wrapper iframe::-webkit-scrollbar {
  display: none;
}

/* line 25, ../../scss/excelsior/demo-bar.scss */
#wrapper iframe::-moz-scrollbar {
  display: none;
}

/* line 29, ../../scss/excelsior/demo-bar.scss */
#wrapper iframe {
  width: 100%;
  height: 100%;
}

/* line 34, ../../scss/excelsior/demo-bar.scss */
#wrapper.noTransitions {
  -webkit-transition: 0;
  transition: 0;
}

/* line 39, ../../scss/excelsior/demo-bar.scss */
#wrapper .keyboard-bg {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -1px;
  pointer-events: none;
}

/* line 58, ../../scss/excelsior/demo-bar.scss */
#wrapper[data-device="smartphonePortrait"].keyboard,
#wrapper[data-device="smartphoneLandscape"].keyboard,
#wrapper[data-device="tabletLandscape"].keyboard,
#wrapper[data-device="tabletPortrait"].keyboard {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
}

/* line 68, ../../scss/excelsior/demo-bar.scss */
#wrapper[data-device="smartphonePortrait"].keyboard .keyboard-bg,
#wrapper[data-device="smartphoneLandscape"].keyboard .keyboard-bg,
#wrapper[data-device="tabletLandscape"].keyboard .keyboard-bg,
#wrapper[data-device="tabletPortrait"].keyboard .keyboard-bg {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

/* line 77, ../../scss/excelsior/demo-bar.scss */
#wrapper[data-device="smartphonePortrait"].keyboard {
  padding-bottom: 260px;
}

/* line 80, ../../scss/excelsior/demo-bar.scss */
#wrapper[data-device="smartphoneLandscape"].keyboard {
  padding-bottom: 194px;
}

/* line 81, ../../scss/excelsior/demo-bar.scss */
#wrapper[data-device="tabletLandscape"].keyboard {
  padding-bottom: 307px;
}

/* line 82, ../../scss/excelsior/demo-bar.scss */
body > header {
  background: -webkit-linear-gradient(rgba(52, 52, 52, 0.75), rgba(36, 36, 36, 0.75));
  background: linear-gradient(rgba(52, 52, 52, 0.75), rgba(36, 36, 36, 0.75));
  box-shadow: inset 0 1px 0 #5f6164, inset 0 -1px 0 #2e2f2f, 0 1px 3px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 51px;
  z-index: 100;
}

/* line 94, ../../scss/excelsior/demo-bar.scss */
body > section {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: scroll;
}

/* line 104, ../../scss/excelsior/demo-bar.scss */
#size {
  -webkit-transition: padding 240ms ease;
  transition: padding 240ms ease;
  background-image: -webkit-linear-gradient(#202021, #222223);
  background-image: linear-gradient(#202021, #222223);
  box-shadow: 0 1px 0 #363738;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  color: #EEE;
  border: 1px solid #040404;
  text-align: center;
  padding: 9px 12px 7px;
  margin: 9px 0 0 8px;
  min-width: 80px;
  display: block;
  float: left;
  font-size: 14px;
  height: 32px;
}

@media screen and (max-width: 480px) {
  /* line 127, ../../scss/excelsior/demo-bar.scss */
  #size {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/* line 133, ../../scss/excelsior/demo-bar.scss */
header .keyboard, .cssrefresh {
  border-radius: 4px;
  color: #EEE;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  border: 1px solid #363738;
}

/* line 143, ../../scss/excelsior/demo-bar.scss */
header .keyboard a, .cssrefresh a {
  background: -webkit-linear-gradient(#343434, #242424);
  background: linear-gradient(#343434, #242424);
  box-shadow: inset 0 1px 0 #3c3c3c;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #040404;
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  outline: none;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
}

/* line 160, ../../scss/excelsior/demo-bar.scss */
header .keyboard a:hover, .cssrefresh a:hover {
  background: -webkit-linear-gradient(#313131, #242424);
  background: linear-gradient(#313131, #242424);
}

/* line 165, ../../scss/excelsior/demo-bar.scss */
header .keyboard a.active, header .keyboard a:active, .cssrefresh a.active, .cssrefresh a:active {
  background: -webkit-linear-gradient(#1c1c1c, #242424);
  background: linear-gradient(#1c1c1c, #242424);
  box-shadow: inset 0 1px 0 #242424;
  outline: none;
}

/* line 172, ../../scss/excelsior/demo-bar.scss */
header .keyboard a.active span, header .keyboard a:active span, .cssrefresh a.active span, .cssrefresh a:active span {
  opacity: 1;
}

/* line 176, ../../scss/excelsior/demo-bar.scss */
header .keyboard, header .cssrefresh {
  right: auto;
  position: relative;
  top: auto;
  float: left;
  margin: 8px 0 0 8px;
}

/* line 184, ../../scss/excelsior/demo-bar.scss */
header .keyboard a, header .cssrefresh a {
  text-indent: -9999px;
}

/* line 187, ../../scss/excelsior/demo-bar.scss */
#devices {
  border-radius: 4px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 50%;
  margin-left: -104px;
  border: 1px solid #363738;
}

/* line 199, ../../scss/excelsior/demo-bar.scss */
#devices a:first-of-type {
  border-radius: 4px 0 0 4px;
}

/* line 203, ../../scss/excelsior/demo-bar.scss */
#devices a:last-of-type {
  border-radius: 0 4px 4px 0;
  border-right-width: 1px;
  width: 80px;
}

/* line 209, ../../scss/excelsior/demo-bar.scss */
#devices a {
  background: -webkit-linear-gradient(#313131, #242424);
  background: linear-gradient(#313131, #242424);
  box-shadow: inset 0 1px 0 #3c3c3c;
  text-decoration: none;
  border: 1px solid #040404;
  border-right-width: 0;
  float: left;
  display: block;
  width: 40px;
  height: 30px;
  outline: none;
}

/* line 223, ../../scss/excelsior/demo-bar.scss */
#devices a:hover {
  background: -webkit-linear-gradient(#2c2c2c, #242424);
  background: linear-gradient(#2c2c2c, #242424);
}

/* line 228, ../../scss/excelsior/demo-bar.scss */
#devices a.active, #devices a:active {
  background: -webkit-linear-gradient(#1c1c1c, #242424);
  background: linear-gradient(#1c1c1c, #242424);
  box-shadow: inset 0 1px 0 #242424;
  outline: none;
}

/* line 235, ../../scss/excelsior/demo-bar.scss */
#devices a.active span, #devices a:active span {
  opacity: 1;
}

/* line 239, ../../scss/excelsior/demo-bar.scss */
#devices span {
  text-align: center;
  display: block;
  width: 40px;
  height: 30px;
  text-indent: -9999px;
  opacity: .75;
}

/* line 248, ../../scss/excelsior/demo-bar.scss */
#devices .tablet-landscape span, #devices .smartphone-landscape span {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 256, ../../scss/excelsior/demo-bar.scss */
#devices .auto span {
  text-indent: 0;
  line-height: 30px;
  font-size: 14px;
  margin: 0 auto;
  width: 80px;
}

@media screen and (max-width: 600px) {
  /* line 265, ../../scss/excelsior/demo-bar.scss */
  #devices {
    margin-left: -54px;
  }
}
@media screen and (max-width: 520px) {
  /* line 271, ../../scss/excelsior/demo-bar.scss */
  #devices {
    margin-left: -25px;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
  }
}
@media screen and (max-width: 480px) {
  /* line 279, ../../scss/excelsior/demo-bar.scss */
  #devices {
    right: 8px;
    margin: 0;
    left: auto;
  }
}
/*  Try to separate out Joyride CSS*/
/* line 288, ../../scss/excelsior/demo-bar.scss */
.joyride-tip-guide {
  background: #dedede !important;
  color: #333333 !important;
  top: 60px !important;
  text-shadow: none !important;
  box-shadow: 0 0 4px #666;
}

/* line 296, ../../scss/excelsior/demo-bar.scss */
.joyride-tip-guide .joyride-nub.top {
  border-color: transparent transparent #DEDEDE !important;
}

/* Typography */
/* line 306, ../../scss/excelsior/demo-bar.scss */
.joyride-tip-guide h1,
.joyride-tip-guide h2,
.joyride-tip-guide h3,
.joyride-tip-guide h4,
.joyride-tip-guide h5,
.joyride-tip-guide h6 {
  color: #333333 !important;
  margin-bottom: 0.5em;
}

/* line 311, ../../scss/excelsior/demo-bar.scss */
body .joyride-close-tip:hover, .joyride-close-tip:focus {
  color: #000 !important;
}

/* line 315, ../../scss/excelsior/demo-bar.scss */
#devices .tablet-portrait span, #devices .tablet-landscape span {
  background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAQAAAAqnqXBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALdJREFUKM/VkjEKwkAQRd/EVQKClYgIgmKnjWXu4C3sPIClrZXHsRQEPYG1qKCNINaCyexaBGIKN2jpdH/+4/8pRuyIBS184zgwkeREB8V5oICAjbF1Eom4eoKGLGkatSDn8PYZejQANQpQ8Z2kZQCTUDSp+x2khVDqmrgQin+o+1tIAe8PoO6dZL1JFsBYoeRW22e2v1OmliVVBQJjL/QZ5PrGdJm9pYOjrCM3p5dr2BPSzumdTF90y0NcVdvNJQAAAABJRU5ErkJggg==") 50% 50% no-repeat;
}

/* line 319, ../../scss/excelsior/demo-bar.scss */
#devices .smartphone-portrait span, #devices .smartphone-landscape span {
  background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAQAAACFdibLAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUGFeVjDEKwkAUBefHhUAQG8HGwguIR7Czs/Munkq8hunTWohoIWlUBBf3r99CA64g6CuHeSP3hU05sZeSq83oY1JJOFJRc2ZLYEhHMpvgd35AMr9xCsU7uuQqTlMNBVz4gAH4w/wdfmvGxIzgFGuXBSCAwS3PRFaH5oMQAKHntEUXgCVr5s+Ei/aKjRk13QeKojmLEk117AAAAABJRU5ErkJggg==") 50% 50% no-repeat;
}
