@media only screen {
  /* line 4, ../../scss/excelsior/off-canvas.scss */
  html,
  body {
    background: #FFF;
    height: 100%;
  }

  /* line 9, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .gov-pull-down {
    height: 40px;
    width: 44px;
  }

  /* line 14, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .gov-bar {
    position: absolute;
    width: 100%;
  }

  /* line 19, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .gov-bar form {
    margin: 0;
  }

  /* line 23, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .site-bar {
    position: absolute;
    width: 100%;
  }

  /* line 28, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  /* line 36, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav .sub-menu-title {
    display: inline-block;
    color: #AAA;
    font-size: 1.45em;
    position: relative;
    left: 20%;
    line-height: 48px;
    padding-top: 0.15em;
  }

  /* line 46, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav .nav-container {
    height: inherit;
    overflow-y: scroll;
    border-radius: 4px;
  }

  /* line 52, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav ul {
    margin-left: 16%;
  }

  /* line 56, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav ul li {
    padding-left: 3%;
  }

  /* line 60, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav ul ul {
    display: block;
    height: 100%;
    left: 100%;
    position: fixed;
    top: 53px;
    width: 100%;
    background: #333;
    -webkit-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
  }

  /* line 73, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav ul ul li {
    padding-left: 1.5%;
  }

  /* line 77, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav .menu-controls {
    height: 53px;
  }

  /* line 81, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav .menu-controls .menu-back {
    background-image: -webkit-linear-gradient(#999999, #505050);
    background-image: linear-gradient(#999999, #505050);
    border-radius: 5px;
    color: #FFF;
    float: right;
    margin: 10px;
    padding: 7px;
    visibility: hidden;
  }

  /* line 92, ../../scss/excelsior/off-canvas.scss */
  .off-canvas.active-sub-menu .global-nav .menu-controls .menu-back {
    visibility: visible;
  }

  /* line 96, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav .active-menu {
    left: 0;
  }

  /* line 100, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .page {
    position: relative;
    height: auto;
    min-height: 100%;
    top: 0;
    width: 100%;
  }

  /* line 112, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .gov-pull-down,
  .off-canvas .gov-pull-down-container,
  .off-canvas .gov-bar,
  .off-canvas .site-bar,
  .off-canvas .page {
    -webkit-transition: top 0.2s ease-in, left 0.2s ease-in, height 0.2s ease-in;
    /* Safari and Chrome */
    transition: top 0.2s ease-in, left 0.2s ease-in, height 0.2s ease-in;
  }

  /* line 117, ../../scss/excelsior/off-canvas.scss */
  .off-canvas.active-gov-bar .site-bar {
    top: 88px;
  }

  /* line 125, ../../scss/excelsior/off-canvas.scss */
  .off-canvas.active-site-menu .gov-pull-down,
  .off-canvas.active-site-menu .gov-pull-down-container,
  .off-canvas.active-site-menu .gov-bar,
  .off-canvas.active-site-menu .site-bar,
  .off-canvas.active-site-menu .page {
    position: fixed;
    left: -82%%;
  }
}
/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 48em) {
  /* line 139, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .gov-bar,
  .off-canvas .site-bar,
  .off-canvas .global-nav,
  .off-canvas .page {
    position: relative;
  }

  /* line 146, ../../scss/excelsior/off-canvas.scss */
  .off-canvas.active-site-menu .gov-bar,
  .off-canvas.active-site-menu .site-bar,
  .off-canvas.active-site-menu .global-nav,
  .off-canvas.active-site-menu .page {
    left: auto;
    position: relative;
  }

  /* line 151, ../../scss/excelsior/off-canvas.scss */
  .off-canvas.active-gov-bar .site-bar {
    top: 0;
  }

  /* line 155, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav {
    height: 46px;
    overflow: visible;
    z-index: 30;
  }

  /* line 161, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav ul li {
    padding-left: 0;
  }

  /* line 165, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav .menu-controls {
    display: none;
  }

  /* line 170, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav .nav-container,
  .off-canvas.active-site-menu .global-nav .nav-container {
    overflow: hidden;
  }

  /* line 175, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav ul,
  .off-canvas.active-site-menu .global-nav ul {
    margin-left: 0;
  }

  /* line 179, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav ul ul {
    top: 46px;
    position: absolute;
    visibility: hidden;
    width: 100%;
    -webkit-transition: left 0;
    transition: left 0s;
  }

  /* line 188, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .global-nav ul ul.active-menu {
    visibility: hidden;
  }

  /* line 192, ../../scss/excelsior/off-canvas.scss */
  .off-canvas .page {
    top: 0;
  }
}
/* Large Displays: 1280px - 1440px */
/* X-Large Displays: 1400px and up */
