@import "../../scss/app";
@import "../../scss/foundation/foundation-global";

label {
  // float: left;
  display: inline-block;
  // padding-right: 0.75em;
  position: relative;
}

.required:after {
  content: "*";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  color: #{$alert-color}; //#f30;
}

.form-field-info {
  display: none;
  margin-top: -10px;
  font-family: $font-sans-italic;
}

.show-form-field-info .form-field-info {
  display: block;
}

.form-field-info p {
  font-family: inherit;
}

.form-field-info p:last-child {
  margin-bottom: 10px;
}
