@import "../../scss/foundation/foundation-global";

.label-auto-align {
  clear: both;
  overflow: hidden;

  .label-wrap {
    width: 100%;
    float: none;
    padding-top: 0.5em;
    overflow: hidden;

    label {
      float: left;
      display: block;
      padding-right: 0.75em;
      position: relative;
    }


  }
}

.required:after {
      content: "*";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      color: #{$alert-color}; //#f30;
    }

// .data-wrap {
//   width: 100%;
//   float: none;

//   input, select, textarea {
//     width: 100%;
//   }
// }

.has-addendum input,
.has-addendum select,
.has-addendum textarea {
  width: 80%;
  float: left;
}

.has-addendum .data-addendum {
  width: 20%;
  float: left;
  padding-left: emCalc(12px);
  padding-top: 0.33em;
  // font-size: emCalc(12px);
}

.width-33 input,
.width-33 select,
.width-33 textarea {
  width: 33%;
  float: left;
}

.label-auto-align {
  .width-33 {
    width: 33%;
    float: left;
    padding-left: emCalc(6px);
    padding-top: 0.33em;
    // font-size: emCalc(12px);

    .label-wrap {
      width: 70%;
    }

    .data-wrap {
      width: 30%;
    }
  }
}

.data-addendum label {
  float: left;
  padding-right: 1em;
}

.columns {
  .label-auto-align + .label-auto-align {
    clear: none;
  }

  .label-auto-align:first-child {
    padding-left: 0;
  }

  .label-auto-align:last-child {
    padding-right: 0;
  }
}

.padding-left-none {
  padding-left: 0 !important;
}

@media #{$small} {
  .label-auto-align {
    text-align: left;

    .label-wrap {
      float: left;
      width: 30%;
    }
  }

  .data-wrap {
    width: 70%;
    float: right;
  }
}

@media #{$medium-small} {
  .label-auto-align {

    .label-wrap {
      text-align: right;
      padding-right: 1em;

      label {
        float: none;
        display: inline-block;
      }

      .required {
        float: none;
      }
    }
  }
}
