.label-auto-align {
  clear: both;
  overflow: hidden; }
  .label-auto-align .label-wrap {
    width: 100%;
    float: none;
    padding-top: 0.5em;
    overflow: hidden; }
    .label-auto-align .label-wrap label {
      float: left;
      display: block;
      padding-right: 0.75em;
      position: relative; }
    .label-auto-align .label-wrap .required:after {
      content: "*";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      color: #c60f13; }

.data-wrap {
  width: 100%;
  float: none; }
  .data-wrap input, .data-wrap select, .data-wrap textarea {
    width: 100%; }

.width-50 input,
.width-50 select,
.width-50 textarea {
  width: 50%;
  float: left; }

.width-50 .data-addendum {
  width: 50%;
  float: left;
  padding-left: 0.75em;
  padding-top: 0.33em;
  font-size: 0.75em; }

.data-addendum label {
  float: left;
  padding-right: 1em; }

@media only screen and (min-width: 48em) {
  .label-auto-align {
    text-align: left; }
    .label-auto-align .label-wrap {
      float: left;
      width: 30%; }

  .data-wrap {
    width: 70%;
    float: right; } }
@media only screen and (min-width: 61.25em) {
  .label-auto-align .label-wrap {
    text-align: right;
    padding-right: 1em; }
    .label-auto-align .label-wrap label {
      float: none;
      display: inline-block; }
    .label-auto-align .label-wrap .required {
      float: none; } }
